<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allen.developtool">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--******************* Check  *****************************-->
        <activity
            android:name="com.allen.developtool.check.Check"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name="com.allen.developtool.check.LedCheck"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.allen.developtool.check.LcdDot"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.allen.developtool.check.GSensor"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.allen.developtool.check.touch.TSP_Bound_Grid_Mode"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.check.touch.TSP_Dot_Mode"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.check.touch.TSP_Grid_Mode"
            android:label="@string/app_name" >
        </activity>


        <!--******************* Info  *****************************-->
        <activity
            android:name="com.allen.developtool.info.Info"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.LanguageInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.PackageListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.PackageInfoActivity"
            android:label="@string/app_name"
            android:theme="@style/cust_theme" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.FrameworkSourceActivity"
            android:label="@string/app_name"
            android:theme="@style/cust_theme" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.PackageSourceActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.DisplayInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.SystemInfo"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.allen.developtool.info.NetworkInfo"
            android:label="@string/app_name" >
        </activity>

    </application>

</manifest>